#container  {
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    background-color: gray;
    padding: 0 1rem;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
}
h1{
    font-size: 1em;
}
main {
    display: flex;
}
ul{
    display: flex;
    flex-direction: column;
}
.content {
    width: 100%;
    background-color: aqua;
}
