

h1{
    font-size: 1.7em;
    color: var(--background-color);
}
h2{
    font-size: 1.3em;
    color: var(--background-color);
}
h3 {
    font-size: 120%;
}
p {
    margin: 0.4rem 0;
}
header {
    width: 100%;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main{
    padding: 0 5%;
    display: grid;
    grid-template-columns: repeat(
            auto-fit,
            minmax(300px, 1fr));
    gap: 1rem;
}
footer {
    background-color: #222222;
    color: #EEEEEE;
    margin-top: 2rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    padding: 5%;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--background-color);
    border-radius: 1rem;
    min-height: 200px;
    padding: 0 1rem  1rem;
    gap: 0.5rem;
}
.card-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-center {
    display: none;
    flex-direction: column;
    gap: 0.5rem;

}
.card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.icon-box{
    display: flex;
    gap: 5px;
}
.content-form {
    width: 100%;
    background-color: var(--background-color);
    padding: 1rem;
    border-radius: 1rem;
}
.form-bottom {
    display: flex;
    justify-content: end;
}


.logo-image {
    max-height: 85px;
    max-width: 175px;
}

